<!--
<div>
  <h1 class="font-bold text-4xl text-blue-500">Public#index!</h1>
  <p>Find me in app/views/public/index.html.erb</p>
  <p>Force et honneur Lucas ! Bonne découverte</p>
</div>
-->
<!-- main div qui présente le bazar -->
<div class="container flex flex-col place-content-center py-5 bg-slate-700 ">
  <h1 class="mx-auto py-4 font-bold text-4xl text-blue-500 ">
    W-Project on sait pas le nom encore (titre)
  </h1>
  <div class="mx-auto py-4">
    petite description des familles par ce que on fait comme warcraft roster mais avec plus de trucs dedans
  </div>
  <div class="mx-auto py-4">
    <button class="p-2 bg-pink-700 rounded-full" type=""> Cliquez bande de salopes </button>
  </div>
</div>
<!-- div des outils et features -->
<div class="bg-slate-500">
  <div>
    <div>
      <!--image/font awsome/whatever ici-->
      <i class="fa-regular fa-calendar-days"></i> <!-- inculde font awesome bordel -->
    </div>
    <div>
      <!--texte explicatif-->
      Blablabla
    </div>
  </div>
  <div>
    
  </div>
  <div>
    
  </div>
</div>